* {box-sizing: border-box;
}

body{
    margin: 0 15%;
    line-height: 1.5;
    font-family: "Glegoo", serif;
    font-size: 16px;
}

a{
    text-decoration: none;
}

h1{
    color: #EF0107;
    font-size: 36px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.hlavicka h3 {
    padding-top:0;
    margin-top: 0;
}

.paticka{
    background-color: #EF0107;
    text-align: center;
    padding: 1px 0;
}

.sloupce {
    display: flex;
    width: 100%;
}

.sloupec_vlevo {
    width: 30%;
    color:whitesmoke;
    background-color: #004aad;
    padding: 10px 20px;
    flex: 20%;
}

.sloupec_vpravo {
    width: 70%;
    background-color:whitesmoke;
    padding: 10px 0px;
    flex: 40%; 
    color: #282425;
}


.foto_hlavni {
    width: 250px;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    margin: 30px; 
    float: left;
}

.hlavicka,
.prace,
.o_mne, 
.sluzby,
.fotogalerie{
    padding: 10px 30px;
}

.kontakt a:link{
    color: whitesmoke;
}

.kontakt a:hover{
    color: #EF0107;
}

.menu {
    margin-top: 40px;
    margin-bottom: 0;
    padding: 5px 0;
    text-align: center;
    background-color:red; 
}

.menu li{
    display: inline-block;
}

.menu a{
    color: #282425;
    font-weight: bold;
    display: inline-block;
    padding: 5px 5px;
    overflow: auto;
}

.kontakt,
.vzdelani,
.jazyky, 
.dovednosti,
.basen{
    clear:both;
    margin: 0px 30px;
}

.kontakt hr, 
.vzdelani hr,
.jazyky hr,
.dovednosti hr,
.basen hr{
    color: whitesmoke;
}

.fotogalerie img{
    width: 49%;
    border: 1px solid #004aad;
    border-radius: 10px;

}

.b {
    font-size: 13px;
    line-height: 1.8;
}

.sloupec_vlevo h2 {
    margin-bottom: 0;
    margin-top: 45px;
    font-weight: bold;
}

.sloupec_vlevo h3 {
    margin-bottom: 0;
    line-height: 1;
    font-size: 18px;
    
}

.kontakt p {
    margin: 0;
}

.sloupec_vpravo h2{
   margin-bottom: 0;
   margin-top: 15px;
}

.sloupec_vpravo h4{
    margin: 0;
 }

.sloupec_vpravo h3{
    margin-bottom: 0;
    padding-top: 0px;
 }


 table{
    border-spacing:0;
    padding: 0 100px;
    margin-top: 30px;
}

th,
td {
    border-bottom: 1px solid #282425;
    line-height: 2;
    text-align: left;
    padding: 10px 0;
}

.cena{
    text-align: right;
    padding-left: 30px;
}

.prvni_r{
    background-color: #004aad;
    color: whitesmoke;
}

#prvni_r{
        background-color: #004aad;
        color: whitesmoke;
    }

.basen h3{
    padding-top: 15px;
}

.prvni{
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}